<template>
    <DateRangePicker
        ref="picker"
        :opens="opens"
        :locale-data="{ firstDay: 1, format: 'DD-MM-YYYY HH:mm' }"
        :minDate="minDate" :maxDate="maxDate"
        :singleDatePicker="singleDatePicker"
        :timePicker="timePicker"
        :timePicker24Hour="timePicker24Hour"
        :showWeekNumbers="showWeekNumbers"
        :showDropdowns="showDropdowns"
        :autoApply="autoApply"
        v-model="dateRange"
        @update="updateValues"
        @toggle="checkOpen"
        :linkedCalendars="linkedCalendars"
        :ranges="ranges"
        :localeData="locale"
    >
        <template v-slot:input="picker" style="min-width: 350px;" class="form-input">
            {{ picker.startDate | date }} - {{ picker.endDate | date }}
        </template>
    </DateRangePicker>
</template>
<script>
import DateRangePicker from 'vue2-daterange-picker'
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
export default {
    name:'Calendar',
    components: { DateRangePicker },
    mounted(){
        this.updateValues(this.dateRange)
    },
    methods:{
        async dateGet(){
            let date = this.$store.getters['statistics/GET_DATE']
            let options = {year: 'numeric', month: 'numeric', day: 'numeric'}
            let optionsTime = {hour: 'numeric', minute: 'numeric'}

            let startDate = date.startDate.toLocaleString("ru", options)
            let startTime = date.startDate.toLocaleString("ru", optionsTime)
            let endDate = date.endDate.toLocaleString("ru", options)
            let endTime = date.endDate.toLocaleString("ru", optionsTime)

            date.startDate.setSeconds(date.startDate.getSeconds() + 8)
            date.endDate.setSeconds(date.endDate.getSeconds() + 8)
            this.$store.dispatch('statistics/setDate', date)  
            console.log(this.$store.getters['statistics/GET_DATE'])

            this.$store.dispatch('statistics/fetchMonitoring',
                [startDate, startTime, endDate, endTime])
        },
        // dateFormat (classes, date) {
        //     if (!classes.disabled) {
        //         classes.disabled = date.getTime() < new Date()
        //     }
        //     return classes
        // },
        checkOpen(event){
        },
        updateValues(value){
            this.$store.dispatch('statistics/setDate', value)
            this.dateGet()
            clearInterval(this.polling)
            this.polling = setInterval(() => {
                this.dateGet()
            },  8*1000)
        }
    },
    filters: {
      date(val) {
        return val ? val.toLocaleString() : ''
      }
    },
    data(){
        let start = new Date();
        let end = new Date();
        // start.setDate(start.getDate() - 1)   
        // start.setHours(0 , 1, 0, 0)
        start.setSeconds(start.getSeconds() - 60);//(2*24*3600)
        return{
            polling: null,

            opens: 'center',
            minDate: '01.01.2018',
            maxDate: '01.12.2050',
            singleDatePicker: false,

            timePicker: true,
            timePicker24Hour: true,
            showWeekNumbers: false,
            showDropdowns: false,
            autoApply: false,
            dateRange: {
                startDate: start,
                endDate: end
            },
            linkedCalendars: true,
            ranges: false,

            locale:{
                direction: 'ltr',
                format: 'dd.mm.yyyy',
                separator: ' - ',
                applyLabel: 'Применить',
                cancelLabel: 'Отменить',
                weekLabel: 'W',
                customRangeLabel: 'Custom Range',
                daysOfWeek: [ 'Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                monthNames: ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'],
                firstDay: 1
            }
        }
    }
}
</script>
<style  lang="scss">
.daterangepicker.openscenter {
    left: 20% !important;
    top: 5rem;
}
.reportrange-text{
    background: #FFFDFD;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: .87rem; 
    padding: .6rem 1rem !important;
    font-family: 'Segoe UI';

}
.daterangepicker select.hourselect{
    margin: 0 1rem;
}
</style>