<template>
    <div>
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="ChartsLine"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    props: ['dataValue','dataCharts'],
    components: {
      'v-chart': ECharts
    },
    computed:{
        ChartsLine(){
        let lineGraph= {
            title:{
                text: `${Math.round(this.dataValue)} s`,
                bottom: '40%',
                left: '5.5%',
                textStyle:{
                    color: '#000000',
                    fontSize: '40',
                    fontWeight: 'bold',
                }
            },
            legend: {
                show:false,
                bottom: 10,
                left: 'center',
            },
            tooltip: {
                show:false,
            },
            xAxis:{
                type: 'category',
                show: false
            }, 
            yAxis: {
                show: false,
                    gridIndex: 0,
                    axisLabel: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    splitNumber: 1,
            },
    
            grid: {
                bottom:0,
                left: -50,
                right: -50,
                height: '70%',
            },
            series: {
                type: 'line',
                data: this.dataCharts,
                smooth: 0.4,
                symbol: 'none',
                areaStyle: {},
                itemStyle: {
                    normal: {
                        color: 'rgba(132, 232, 143, 0.55)',
                        opacity:1,
                        lineStyle: {
                            color: 'rgb(39, 174, 96)',
                            width: 2.5
                        },
                    }
                },
            },
        }
        return lineGraph
        }
    },
    watch: {
        connected: {
            handler(value) {
                ECharts[value ? 'connect' : 'disconnect']('radiance')
            },
            immediate: true
        },
        'initOptions.renderer'(value) {
            this.options.renderer = value === 'svg' ? value : undefined;
            let query = qs.stringify(this.options);
            query = query ? ('?' + query) : '';
            history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
        }
    },
    methods: {
        toggleRenderer() {
            if (this.initOptions.renderer === 'canvas') {
                this.initOptions.renderer = 'svg'
            } else {
                this.initOptions.renderer = 'canvas'
            }
        },
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});
        return {
            colorGrap: ['#71A1FF','#AAB9C3','#9382EA','#FFB87A','#74C3FF','#FF7474'],
            initOptions: {
                renderer: options.renderer || 'canvas'
            },
        }
    }
}
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    height: 100%;
    min-height: 129px;
    max-height: 140px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;//1.25
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
@media screen and (max-width: 768px) {
    .echarts {
    min-height: 140px;
  }
}

</style>
