<template>
    <div>
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="chartsLine"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    props: ['dataValue'],
    components: {
      'v-chart': ECharts
    },
    computed:{
        chartsLine(){
            let lineGraph = {
            title: {
                text: `${Math.floor(this.dataValue * 10000) / 10000} %`,
                bottom: '40%',
                left: '0.1%',//21,
                textStyle:{
                    color: '#000000',
                    fontSize: '40',
                    fontWeight: 'bold',
                }
            },
            legend: {
                show: false,
            },
            grid: {
                left: 'left',
                bottom: '25%',
                top: '40%',
                right: '0%',
                containLabel: false
            },
            tooltip: {
                show: false,
            
            },
            xAxis: {
                type: 'value',
                show: false,
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#fff',
                    }
                },
                splitLine: {
                    show: false
                },
            },
            yAxis: [{
                    type: 'category',
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: '#fff',
                        }
                    },
                    data: ["bar"]
                },
                {
                    type: 'category',
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        show: false
                    },
                    splitArea: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    data: ["bar"]
                },
            ],
            series: [{
                name: 'test1',
                type: 'bar',
                barWidth: 4.766,
                z: 1,
                label: {
                    normal: {
                        show: false,
                    }
                },
                itemStyle: {
                    normal: {
                        show: false,
                        color: 'rgb(39, 174, 96)',
                        barBorderRadius: 50,
                        borderWidth: 0,
                        borderColor: '#333',
                    }
                },
                barGap: '0%',
                barCategoryGap: '50%',
                data: [this.dataValue]
            },
            {
                name: 'test2',
                type: 'bar',
                barWidth: 4.766,
                yAxisIndex: 1,
                z: 0,
                label: {
                    normal: {
                        show: false,
                    }
                },
                itemStyle: {
                    normal: {
                        show: false,
                        color: '#E8E8E8',
                        barBorderRadius: 50,
                        borderWidth: 0,
                        borderColor: '#333',
                    }
                },
                barGap: '0%',
                barCategoryGap: '50%',
                data: [100]
            }]
        }
        return lineGraph
        }
    },
    watch: {
        connected: {
            handler(value) {
                ECharts[value ? 'connect' : 'disconnect']('radiance')
            },
            immediate: true
        },
        'initOptions.renderer'(value) {
            this.options.renderer = value === 'svg' ? value : undefined;
            let query = qs.stringify(this.options);
            query = query ? ('?' + query) : '';
            history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
        }
    },
    methods: {
        toggleRenderer() {
            if (this.initOptions.renderer === 'canvas') {
                this.initOptions.renderer = 'svg'
            } else {
                this.initOptions.renderer = 'canvas'
            }
        },
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});
      return {
        // colorGrap: 'rgb(93, 148, 100)',
        initOptions: {
          renderer: options.renderer || 'canvas'
        },
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    height: 100%;
    min-height: 129px;
    max-height: 150px;
    padding: 0 1.75rem
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #101B21;
    }
}
</style>
