<template>
    <div>
      <!-- <nav>  </nav>-->
        <div class="header-content">
            <div class="back_block">
                <a href="http://185.251.89.141:8084/marking-system" class="back_link"> Назад </a>
                <p> Мониторинг доступности системы </p>
            </div>
            <div class="back_block">
              <Calendar/>
              <a class="img_button" href="http://185.251.89.141:8084/marking-system"></a>   
            </div>     
        </div>
        <Nuxt />
      
    </div>
</template>
<script>
import Calendar from '@/components/Calendar.vue'
export default {
  components:{
    Calendar
  },
  data(){
    return{
      filterList: false,
    }
  }
  
}
</script>

<style lang="scss">
@import "~assets/scss/utils/vars";
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.header-content{
  padding: 0 2.125rem;
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}
.back_block{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  & p{
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.75rem;
    align-items: center;
    color: #101B21;
  }
}
.back_link {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: .875rem;
    line-height: .875rem;
    color: #101B21;
    padding-left: 1.625rem;
    background: url('~assets/img/back.svg') 0 50% no-repeat;
    background-size: .875rem .56rem;
    margin-right: 3.187rem;
  }

  .img_button{
    width: 2.5rem;
    height: 2.5rem;
    background: url('~assets/img/filter_header.svg') center center no-repeat;
    background-size: 50% 50%;
    background-color: #F6F42E;
    margin-left: 1.25rem;
  }
  
html {
  line-height: $mainLineHeight;
	font-size: 16px;
	color: $mainFontColor;
    height: 100%;
  @media screen and (max-width: 1440px) {
		font-size: 14px;
  }
  @media screen and (max-width: 768px) {
		font-size: 13px;
  }
  @media screen and (max-width: 480px) {
		font-size: 12px;
  }
  @media screen and (max-width: 375px) {
		font-size: 11px;
  }
}

</style>
