<template>
    <grid-layout
    :layout.sync="financeLayout"
    :col-num="12"
    :row-height="42"
    :is-draggable="false"
    :is-resizable="false"
    :is-mirrored="false"
    :vertical-compact="true"
    :margin="[14, 14]"
    :use-css-transforms="true"
    :responsive="true"
    :autoSize="true"
    :breakpoints="{ lg: 1200, md: 996, sm: 768, xs: 480, xxs: 0 }"
    :cols="{ lg: 12, md: 12, sm: 2 , xs: 2, xxs: 2 }"
    class="grid-colblock"
    >
    <grid-item class="colblock appeal" v-for="item in financeLayout"
                :x="item.x"
                :y="item.y"
                :w="item.w"
                :h="item.h"
                :i="item.i"
                :min-w="item.minW"
                :min-h="item.minH"
                :max-h="item.maxH"
                :key="item.i"
    >
        <lineCount v-if="item.i===0" :dataValue="slaInfraGisMDLP">
            Показатель доступности системы ГИС МДЛП
        </lineCount>
        <lineBackground v-if="item.i===1" :dataValue="emissionTimeGisMDLP" :dataCharts="arrayEmisMDLP">
            Среднее время эмиссии ГИС МДЛП
        </lineBackground>
        <lineBackground v-else-if="item.i===2" :dataValue="qtTimeGisMDLP" :dataCharts="arrayQtMT">
            Среднее время доставки пакета ГИС МДЛП
        </lineBackground>
    
        
        <lineCount v-if="item.i===3" :dataValue="slaInfraGisMT">
            Показатель доступности системы ГИС МТ
        </lineCount>
        <lineBackground v-if="item.i===4" :dataValue="emissionTimeGisMT" :dataCharts="arrayEmisMT">
            Среднее время эмиссии ГИС МТ
        </lineBackground>
        <lineBackground v-else-if="item.i===5" :dataValue="qtTimeGisMT" :dataCharts="arrayQtMDLP">
            Среднее время доставки пакета ГИС МТ
        </lineBackground>
    </grid-item>
    </grid-layout>
</template>
<script>
import VueGridLayout from 'vue-grid-layout'
import lineCount from '@/components/lineCount'
import lineBackground from '@/components/lineBackground'

export default {
    components:{
        lineBackground,
        lineCount,

        GridLayout: VueGridLayout.GridLayout,
        GridItem: VueGridLayout.GridItem
    },
    // mounted(){
    //     this.selectStore()
    //     window.setInterval(() => {
    //         this.selectStore()
    //     }, 8*1000)
    // },
    // fetch({store}){
    //     // if(store.getters['statistics/MONITORING_URL'].length==0){
    //         store.dispatch('statistics/fetchMonitoring')
    //     // }
    // },
    computed: {
        MONITORING_URL(){
            return this.$store.getters['statistics/MONITORING_URL']
        }
    },
    watch:{
        MONITORING_URL(){
            this.monitoringData()
        }
    },
    methods:{
        // async selectStore(){
        //     await this.$store.dispatch('statistics/fetchMonitoring')
        // },
        monitoringData(){
            let List = this.$store.getters['statistics/MONITORING_URL']
            let foreachList = List.forEach((element, index) => {
                let filter = element.state.filter(item=>{
                    if(item.metric=="sla_infra" && item.project=="gis_mt" && index === List.length-1){
                        this.slaInfraGisMT = item.value
                    }
                    else if(item.metric=="sla_infra" && item.project=="gis_mdlp" && index === List.length-1){
                        this.slaInfraGisMDLP = item.value
                    }
                    else if(item.metric=="emission_time" && item.project=="gis_mt"){
                        this.arrayEmisMT.push(Number(item.value))
                        if(index === List.length-1){
                            this.emissionTimeGisMT = item.value
                        }
                    }
                    else if(item.metric=="emission_time" && item.project=="gis_mdlp"){
                        this.arrayEmisMDLP.push(Number(item.value))
                        if(index === List.length-1){
                            this.emissionTimeGisMDLP = item.value
                        }
                    }
                    else if(item.metric=="qt_time" && item.project=="gis_mt"){
                        this.arrayQtMT.push(Number(item.value))
                        if(index === List.length-1){   
                            this.qtTimeGisMT = item.value
                        }
                    }
                    else if(item.metric=="qt_time" && item.project=="gis_mdlp"){
                        this.arrayQtMDLP.push(Number(item.value))
                        if(index === List.length-1){   
                            this.qtTimeGisMDLP = item.value
                        }
                    }    
                })
            });
        }
    },
    data(){
        return{
            slaInfraGisMT: null,
            slaInfraGisMDLP: null, 
            emissionTimeGisMT: null, 
            emissionTimeGisMDLP: null, 
            qtTimeGisMT: null, 
            qtTimeGisMDLP: null, 

            arrayEmisMDLP: [],
            arrayQtMT:[],
            arrayEmisMT:[],
            arrayQtMDLP: [],

            financeLayout: [
                {
                    "x": 0,
                    "y": 0,
                    "w": 4,
                    "h": 3.4,
                    i: 0,
                    "minH": 3.4,
                    "maxH": 4,
                    "minW": 4,
                    "maxW": 4,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                 {
                    "x": 4,
                    "y": 0,
                    "w": 4,
                    "h": 3.4,
                    i: 1,
                    "minH": 3.4,
                    "maxH": 4,
                    "minW": 4,
                    "maxW": 4,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 8,
                    "y": 0,
                    "w": 4,
                    "h": 3.4,
                    i: 2,
                    "minH": 3.4,
                    "maxH": 4,
                    "minW": 4,
                    "maxW": 4,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 1,
                    "w": 4,
                    "h": 3.4,
                    i: 3,
                    "minH": 3.4,
                    "maxH": 3.4,
                    "minW": 4,
                    "maxW": 4,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 4,
                    "y": 1,
                    "w": 4,
                    "h": 3.4,
                    i: 4,
                    "minH": 3.4,
                    "maxH": 4,
                    "minW": 4,
                    "maxW": 4,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 8,
                    "y": 1,
                    "w": 4,
                    "h": 3.4,
                    i: 5,
                    "minH": 3.4,
                    "maxH": 4,
                    "minW": 4,
                    "maxW": 4,
                    "sourceDataMain": 0,
                    "sourceData": 0
                }
            ]
        }
    },

}
</script>
<style lang="scss">//scoped
.grid-colblock{
    margin: 1.5rem;
}
.colblock {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFFDFD;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: .87rem;
    overflow: hidden;
}
</style>
